* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1556fb;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container {
  height: 80%;
  width: 30%;
  /* background-color: red; */
}

.app-heading {
  padding: 4px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 25px;
  font-size: 45px;
  font-family: system-ui;
  letter-spacing: 3px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-box-todo {
  margin-left: 10px;
  width: 70%;
  height: 50px;
  border-radius: 14px;
  border: 1px solid black;
  padding-left: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  outline: none;
  font-family:system-ui;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #316fc1;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.3s;
}

.add-btn:hover{
  background-color: #000;
}
.add-btn:active {
  box-shadow: none;
}

.list-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.list-item {
  list-style-type: none;
  background-color: #fff;
  border: 2px solid rgb(161, 158, 158);
  color: #000;
  padding: 3px;
  padding-left: 5px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px;
}

.list-item:hover{
  background-color: #000;
  color: #fff;
}

.icons {
  position: absolute;
  right: 10px;
}

.icons i {
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;
}

.icons i:hover {
  transform: scale(1.2);
}

.icon-delete:hover {
  color: red;
}